<div class="mt-5">
    <div class="bg-light mt-3 p-3 rounded fs-6 fw-bold rounded">
        <form class="form-emp" [formGroup]="changePass">
        <p class="text-blue">Change Your Password</p>
        <div class="bg-light py-3 d-flex flex-column flex-md-row justify-content-between align-items-center rounded">
            <div class="d-flex justify-content-center align-items-center">
                <div class="">
                    <h4 class="fs-6">Current Password</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="Password" class="border-0" formControlName = 'Password' name = "password"/>
                    </div>
                </div>
                <div class="my-2 my-sm-0 mx-3">
                    <h4 class="fs-6">New Password</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="********"   formControlName = 'newPassword'/>
                    </div>
                </div>
                <div class="my-2 my-sm-0 mx-3">
                    <h4 class="fs-6">Confirm New Password</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="********" formControlName = 'newPassword'/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="buttons-section d-flex justify-content-start align-items-center mt-4">
        <div class="login-btn py-2 px-5 rounded me-2">
            <button type="submit" class="btn-login bg-transparent border-0" (click)="ChangePassword(changePass)">Save</button>
        </div>
        <div class="cancel-btn py-2 px-5 rounded mt-2 mt-sm-0">
            <button type="button" class="border-0 bg-white"  [routerLink]="['/user/setup/company-setup/company']">Cancel</button>
        </div>
    </div>

</div>
