<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-blue">Property Setup</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#"
                class="text-decoration-none text-blue fw-bold"> Amenities</a></li>
    </ol>
</nav>
<div class="bg-light p-3 d-flex flex-column flex-md-row justify-content-between align-items-center rounded">
    <div class="main-btn my-0 my-lg-3 my-xl-4">
        <button href="#" class="py-2 px-3 rounded text-decoration-none" (click)="toggleForm()">Add Amenity Type
        </button>
    </div>

</div>
<form [formGroup]="myForm">
    <div class="bg-light mt-3 p-3" [hidden]="isTableVisible">

        <div class="d-flex flex-wrap justify-content-start align-items-center">
            <div class="mx-3 mt-3">
                <div class="p-inputgroup">
                    <input pInputText placeholder="Amenity Id" formControlName="amenityCode" />
                </div>
            </div>
            <div class="mx-3 mt-3">
                <div class="p-inputgroup">
                    <input pInputText placeholder="Amenity Name" formControlName="amenityName" />
                </div>
            </div>
            <div class="mx-3 mt-3">
                <div class="p-inputgroup">
                    <input pInputText placeholder="description" formControlName="description" />
                </div>
            </div>
            <div class="mx-3 mt-3">
                <div class="card flex justify-content-center border-0">
                    <p-dropdown formControlName="amenityRentType" [options]="RentType" (onChange)="getRentType($event)"
                        optionValue="value" optionLabel="name" class="border-light" placeholder="Select">

                    </p-dropdown>
                </div>
            </div>
            <div class="mx-3 mt-3">
                <div class="card flex justify-content-center border-0">
                    <p-dropdown formControlName="amenityChargeCodeId" [options]="chargeCode" optionValue="value"
                        optionLabel="name" class="border-light" placeholder="Select" [disabled]="isDropdownDisabled">
                    </p-dropdown>
                </div>
            </div>
            <div class="mx-3 mt-3">
                <div class="form-check mt-0 mt-sm-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                        formControlName="status">
                    <label class="form-check-label" for="flexCheckDefault">
                        IsStatus
                    </label>
                </div>
            </div>
            <div class="bg-light p-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <div class="main-btn my-0 my-lg-3 my-xl-4">
                    <button type="button" (click)="Search(myForm)" class="py-2 px-3 rounded text-decoration-none">Search
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>
<div class="customers-list bg-light mt-4 rounded" [hidden]="isTableVisible">
    <select class="select-items border-0 w-100 bg-transparent p-3" aria-label="Default select example">
        <option selected>List of customers</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="myData">
        <ng-template pTemplate="header">
            <tr>
                <th>Amenity Code </th>
                <th>Amenity Name</th>
                <th>Description/Note</th>
                <th>rentType</th>
                <th>ChargeCode</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.amenityCode }}</td>
                <td>{{ product.amenityName }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.amenityRentTypes }}</td>
                <td>{{ product.chargeCode }}</td>
                <td>{{ product.rowStatus }}</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="card flex justify-content-center border-top-0">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first"></p-paginator>
    </div>
</div>
<div class="buttons-section d-flex justify-content-end align-items-center mt-4">
    <div class="login-btn py-2 px-5 rounded me-2" [hidden]="isTableVisible">
        <button type="submit" class="btn-login bg-transparent border-0" >Export</button>
    </div>
    <div class="cancel-btn py-2 px-5 rounded mt-2 mt-sm-0" [hidden]="isTableVisible">
        <button type="button" class="border-0 bg-white">Print</button>
    </div>
</div>






<!-- Create Area HTML -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="bg-light" [hidden]="isFormVisible">
        <div class="bg-light mt-3 p-3">
            <div class="d-flex flex-wrap justify-content-start align-items-center">
                <div class="mx-3 mt-3">
                    <h4 class="fs-6">Amenity Code*</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="Eg: Gs" formControlName="amenityCode" />
                    </div>
                </div>
                <div class="mx-3 mt-3">
                    <h4 class="fs-6">Amenity Name*</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="Keyword" formControlName="amenityName" />
                    </div>
                </div>
                <div class="mx-3 mt-3">
                    <h4 class="fs-6">Description</h4>
                    <div class="p-inputgroup">
                        <input pInputText placeholder="Keyword" formControlName="description" />
                    </div>
                </div>
                <div class="mx-3 mt-3">
                    <h4 class="fs-6">Rent Type*</h4>
                    <div class="card flex justify-content-center border-0">
                        <p-dropdown formControlName="amenityRentType" [options]="RentType"
                            (onChange)="getRentType($event)" optionValue="value" optionLabel="name" class="border-light"
                            placeholder="Select">

                        </p-dropdown>
                    </div>
                </div>
                <div class="mx-3 mt-3">
                    <h4 class="fs-6">Chg Code*</h4>
                    <div class="mx-3 mt-3">
                        <div class="card flex justify-content-center border-0">
                            <p-dropdown formControlName="amenityChargeCodeId" [options]="chargeCode" optionValue="value"
                                optionLabel="name" class="border-light" placeholder="Select"
                                [disabled]="isDropdownDisabled">

                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="mx-3 mt-3">
                    <div class="form-check mt-0 mt-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName="status">
                        <label class="form-check-label" for="flexCheckDefault">
                            InActive
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="buttons-section d-flex justify-content-start align-items-center mt-4">
        <div class="login-btn py-2 px-5 rounded me-2" [hidden]="isFormVisible">
            <button type="submit" class="btn-login bg-transparent border-0">Save</button>
        </div>
        <div class="cancel-btn py-2 px-5 rounded mt-2 mt-sm-0" [hidden]="isFormVisible">
            <button type="button" class="border-0 bg-white" (click)="Cancelbutton()">Cancel</button>
        </div>
    </div>
</form>
<div>
    <p-dialog header="Confirmation" [(visible)]="showConfirmation">
        <p>
            Do you want to cancel ?
        </p>
        <button pButton type="button" label="Yes" (click)="Yes()" class="btn btn-outline-primary">Yes</button>
        &nbsp;
        <button pButton type="button" label="No" (click)="noCancel()" class="btn btn-outline-primary">No</button>
    </p-dialog>
</div>