<section class="mortgage p-t">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="text-blue fs-6 fw-bold mb-0 mt-3">Canada</h3>
                <div class="bg-light mt-3 p-3 rounded fs-6">
                    <div class="mt-1">
                        <p class="text-blue fs-6 fw-bold mb-0">Property</p>
                    </div>
                    <div class="d-flex">
                        <div class="me-3 mt-3">
                            <h4 class="fs-6">Search</h4>
                            <div class="p-inputgroup">
                                <input pInputText placeholder="Keyword" />
                            </div>
                        </div>
                        <div class="me-3 mt-3">
                            <h4 class="fs-6">Property Id</h4>
                            <div class="card flex justify-content-center border-0 ">
                                <p-dropdown [options]="cities" optionLabel="name" class="border-light"
                                    placeholder="Select"></p-dropdown>
                            </div>
                        </div>
                        <div class="me-3 mt-3">
                            <h4 class="fs-6">Status</h4>
                            <div class="card flex justify-content-center border-0 ">
                                <p-dropdown [options]="cities" optionLabel="name" class="border-light"
                                    placeholder="Select"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light mt-3 p-3 rounded fs-6 fw-bold mt-3">
                    <div class="mt-1">
                        <p class="text-blue fs-6 fw-bold mb-0">List of Mortgage</p>
                    </div>
                </div>
                <div class="customers-list bg-light rounded">
                    <p-table [tableStyle]="{ 'min-width': '100rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th><span class="me-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    </label>
                                </span>State</th>
                                <th>City</th>
                                <th>Property area</th>
                                <th>Property Id</th>
                                <th>Monthly Payment</th>
                                <th>Interest</th>
                                <th>Repay proncipal</th>
                                <th>Repay proncipal</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{ product.code }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="card flex justify-content-center border-top-0">
                        <p-paginator (onPageChange)="onPageChange($event)" [first]="first"></p-paginator>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="buttons-section d-flex justify-content-start align-items-center mt-4">
                        <div class="login-btn py-2 px-5 rounded me-2">
                            <button type="submit" class="btn-login bg-transparent border-0">Delete</button>
                        </div>
                    </div>
                    <div class="buttons-section d-flex justify-content-end align-items-center mt-4">
                        <div class="login-btn py-2 px-5 rounded me-2">
                            <button type="submit" class="btn-login bg-transparent border-0">Export</button>
                        </div>
                        <div class="cancel-btn py-2 px-5 rounded mt-2 mt-sm-0">
                            <button type="button" class="border-0 bg-white">Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>