<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-blue">Property Setup</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#"
                class="text-decoration-none text-blue fw-bold">Market Area</a></li>
    </ol>
</nav>
<div class="bg-light mt-3 p-3 rounded">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <div class="me-3">
                <h4 class="fs-6">Status</h4>
                <div class="my-2 ">
                    <div class="card flex justify-content-center border-0">
                        <p-dropdown [options]="cities" optionLabel="name" class="border-light"
                            placeholder="Select"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="mx-3">
                <h4 class="fs-6">Area Name</h4>
                <div class="my-2">
                    <div class="card flex justify-content-center border-0">
                        <p-dropdown [options]="cities" optionLabel="name" class="border-light"
                            placeholder="Keyword"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="mx-3">
                <div class="buttons-section d-flex justify-content-end align-items-center mt-4">
                    <div class="login-btn py-2 px-5 rounded me-2">
                        <button type="submit" class="btn-login bg-transparent border-0">Edit Market</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="buttons-section d-flex justify-content-end align-items-center mt-4">
                <div class="login-btn py-2 px-5 rounded me-2">
                    <button type="submit" class="btn-login bg-transparent border-0">Create Market</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Create Area HTML -->

<div class="bg-light mt-3 p-3 rounded">
    <div class="d-flex flex-wrap justify-content-start align-items-center">
        <div class="mx-3 mt-3">
            <h4 class="fs-6">Market Name</h4>
            <div class="p-inputgroup">
                <input pInputText placeholder="Eg: Gs" />
            </div>
        </div>
        <div class="mx-3 mt-3">
            <h4 class="fs-6">Description</h4>
            <div class="p-inputgroup">
                <input pInputText placeholder="Keyword" />
            </div>
        </div>
        <div class="mx-3 mt-3">
            <div class="form-check mt-0 mt-sm-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Inactive
                </label>
            </div>
        </div>
        
    </div>
    <div class="row justify-content-start align-items-center">
        <div class="col-lg-5 col-12">
            <div class="text-center mt-3 mt-lg-4">
            <h4 class="fs-6 text-center">Available Active Properties</h4>
            <div class="card flex justify-content-center">
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="value" class="border-light p-2"></textarea>
            </div>
        </div>
        </div>
        <div class="col-lg-1 col-12">
            <div class="text-center mt-4">
                <div class="right-icon my-2">
                    <a href="">
                        <img src="assets/images/right-icon-arrow.png" class="img-fluid" alt="arrow-icon">
                    </a>
                </div>
                <div class="right-icon my-2">
                    <a href="">
                        <img src="assets/images/left-icon-arrow.png" class="img-fluid" alt="arrow-icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-12">
        <div class="text-center mt-3 mt-lg-4">
            <h4 class="fs-6 text-center">Assigned Properties</h4>
            <div class="card flex justify-content-center">
                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="value" class="border-light p-2"></textarea>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="buttons-section d-flex justify-content-start align-items-center mt-4">
    <div class="login-btn py-2 px-5 rounded me-2">
        <button type="submit" class="btn-login bg-transparent border-0">Save</button>
    </div>
    <div class="cancel-btn py-2 px-5 rounded mt-2 mt-sm-0">
        <button type="button" class="border-0 bg-white">Cancel</button>
    </div>
</div>