<div class="navbar-section">
    <nav class="navbar navbar-expand-xl">
        <div class="container-fluid">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="" [routerLink]="['setup']" class="nav-button text-blue text-decoration-none">Setup</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Dashboard</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="" [routerLink]="['properties/list']" class="nav-button text-blue text-decoration-none">Properties</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="" [routerLink]="['leases/guest_card']" class="nav-button text-blue text-decoration-none">Leases</a>
                    </div>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Tenant</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Vendor</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Maintenance</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Accounting</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Budgeting</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none">Inspection</a>
                    </div>
                    <div class="nav-btns px-2 px-xxl-4 d-flex align-items-center">
                        <a href="#" class="nav-button text-blue text-decoration-none"> Reporting</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>